# Project exclude paths
/venv/
/venv_tf23/

/teste2.jpg
/teste2_original.jpg
/testes.py

model_final*
bases/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/falsos_positivos/*
/falsos_positivos.zip

/.idea/*
/models/efficientdet_d1/checkpoint/checkpoint
/models/efficientdet_d1/checkpoint/ckpt-10.data-00000-of-00001
/models/efficientdet_d1/checkpoint/ckpt-10.index
/models/efficientdet_d1.zip
/models/efficientdet_d1/pipeline.config
*.pyc