# Project exclude paths
/venv/
/venv_tf23/

/models
/teste2.jpg
/teste2_original.jpg
/testes.py

model_final*
bases/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/falsos_positivos/*
/falsos_positivos.zip

/.idea/*
